/*========== EXPERIENCE ==========*/
.experience__data {
  gap: .5rem;
}

.experience__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.experience__company {
  font-size: var(--small-font-size);
  color: var(--text-color);
  display: block;
  margin-bottom: .25rem;
}

.experience__rounder,
.experience__line {
  background-color: rgb(255, 145, 0);
}

.experience__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: .25rem;
}

.experience__line {
  display: block;
  width: 2px;
  height: 110%;
  transform: translate(7px, 0);
}

.demo__link {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  display: inline-flex;
  align-items: center;
  margin-top: .25rem;
  transition: .3s;
}

.demo__link:hover {
  color: rgb(255, 145, 0);
}

.demo__link i {
  font-size: 1.2rem;
  margin-right: .25rem;
}

/* Dark theme adjustments */
.dark-theme .experience__title {
  color: var(--title-color);
}

.dark-theme .experience__company {
  color: var(--text-color-light);
}

.dark-theme .demo__link {
  color: var(--title-color);
}

.dark-theme .demo__link:hover {
  color: rgb(255, 145, 0);
}

/* Responsive adjustments */
@media screen and (min-width: 968px) {
  .experience__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PDF export adjustments */
.scale-cv .experience__data {
  gap: .25rem;
}

.scale-cv .experience__company {
  margin-bottom: .2rem;
}

.scale-cv .experience__rounder {
  width: 11px;
  height: 11px;
}

.scale-cv .experience__line {
  width: 1px;
  transform: translate(5px, 0);
}