/*========== RESUME LAYOUT ==========*/
.resume {
  display: grid;
  background-color: var(--container-color);
  box-shadow: 0 0 8px rgba(13, 12, 12, .15);
  transition: all 0.3s ease;
}

.resume:hover {
  box-shadow: 0 0 16px rgba(13, 12, 12, .2);
}

.resume__left {
  background-color: var(--container-color-alt);
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}

.resume__right {
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}

.resume__left, 
.resume__right {
  padding-top: 2.5rem;
}

.section {
  padding: 1.5rem 0;
  transition: all 0.3s ease;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
  position: relative;
  transition: all 0.3s ease;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: rgb(255, 145, 0);
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.dark-theme .section-title::after {
  background-color: var(--accent-color);
}

/* Scroll top */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgb(255, 145, 0);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: all 0.4s ease;
  visibility: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.scrollup:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.scrollup__icon {
  font-size: 1.2rem;
  color: var(--container-color);
}

.show-scroll {
  visibility: visible;
  bottom: 5rem;
}