/*========== PROFILE ==========*/
.profile__description {
  text-align: justify;
  line-height: 1.6;
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

/* Dark theme styling */
.dark-theme .profile__description {
  color: var(--text-color-light);
}

/* Responsive adjustments */
@media screen and (min-width: 968px) {
  .profile__description {
    text-align: initial;
  }
}

/* PDF adjustments */
.scale-cv .profile__description {
  font-size: var(--small-font-size);
}