/*========== SOCIAL ==========*/
.social__container {
  grid-template-columns: max-content;
  gap: 1rem;
}

.social__link {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: .3s;
}

.social__link:hover {
  color: var(--title-color);
}

.social__icon {
  font-size: 1.2rem;
  margin-right: .25rem;
}

/* Dark theme adjustments */
.dark-theme .social__link {
  color: var(--text-color-light);
}

.dark-theme .social__link:hover {
  color: var(--title-color);
}

/* Responsive adjustments */
@media screen and (min-width: 968px) {
  .social__container {
    grid-template-columns: repeat(2, max-content);
  }
}

/* PDF export adjustments */
.scale-cv .social__container {
  gap: .75rem;
}

.scale-cv .social__icon {
  font-size: 1rem;
}